
ion-content{
    --background: #E1E2E1;
}
ion-toolbar{
    --background: #232F3E;
    color: white;
}
ion-card, ion-list, ion-item{
    --background: white;
}

.azul{
    --background: #232F3E;
    color: white;
}

@media (orientation: landscape) {
    .foto{
        display: none;
    }
  }

  @media (orientation: portrait) {
    .avatar{
        display: none;
    }
  }
