

ion-toolbar{
    --background: #232F3E;
    color: white;
}


.azul{
    --background: #232F3E;
    color: white;
}

@media (orientation: landscape){
    .foto{
        display: none;
    }
  }

@media (orientation: portrait){
.avatar{
    display: none;
}
}

ion-card, ion-list, ion-item{
    --background: white;
}


@media (max-width: 600px){
ion-content{
    --background: #E1E2E1;
}
    
}
